body {
    color: white;
}
section {
    margin-bottom: 10px;
}
header h1 {
    color: black;
}
.blue {
    height: 50px;
    background-color: blue;
    line-height: 30px;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
.green {
    height: 30px;
    background-color: greenyellow;
    line-height: 30px;
    text-align: center;
    border: 1px solid blue;
    
}
.nested {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
